/* IMPORTAMOS FUNETES */
@import url('https://fonts.cdnfonts.com/css/ysabeau-sc');
@import url('https://fonts.cdnfonts.com/css/quito');

/* ESTABLECEMOS LAS VARIABLES EN NUESTRO CSS(PALETA DE COLORES, TIPOGRAFIA) */
/* root : hace referencia a raiz el cual es el archivo raiz que es el documento HTML, la etiqueta HTML */
:root{
    /* paleta de colores */
    --colorFondo:#D8C37F;
    --colorEnfasis1:#A4AE20;
    --colorEnfasis2:#C57023;
    --colorEnfasis3:#7B361A;
    --colorText:#d9d09e85;
    --colorText2:#19160A;

    /* Fuentes */
    --textTitle:'Ysabeau SC', sans-serif;
    --textContent:'Quito', sans-serif;
}

/* CONDICIONES O ESTILOS INICIALES DE MI PAGINA */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--colorFondo);
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

/*----------------------- HEADER -----------------------*/
header{
    width: 100%;
    height: 100px;
    border: solid red;
}

.menuNavegacion{
    width: 100%;
    height: 100px;
    background-color: var(--colorEnfasis3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 100;
}

.logo{
    height: 100%;
}

.logo a{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: var(--textContent);
    color: var(--colorText);
    font-weight: bold;
}

.pLogo{
    width: 150px;
    text-align: left;
}

.span-logo{
    color: var(--colorEnfasis1);
}

.imgLogo{
    height: 100%;
}

.listaMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.listaMenu a{
    text-decoration: none;
    font-family: var(--textContent);
    color: var(--colorText);
    font-size: 20px;
}

.listaMenu a:hover{
    color: var(--colorEnfasis1);
}

/*----------------------- MAIN -----------------------*/
main{
    width: 100%;
    padding: 100px;
}

.contenedorPrincipal h1{
    font-family: var(--textTitle);
    font-size: 40px;
    color: var(--colorEnfasis3);
}

.contenedorPrincipal p{
    font-family: var(--textContent);
}

.contenedorImagenes{
    border: 3px solid var(--colorText2);
    margin-top: 50px;
    border-radius: 50px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
}

.contenedorImagenes img{
    width: 100%;
    height: 100%;
}

.imagenes{
    display: grid;
    position: relative;
}

.img1{
    grid-row: 1/3;
    grid-column: 4/5;
}

.img2{
    grid-row: 1/2;
    grid-column: 2/4;
}

.img3{
    grid-row: 1/3;
    grid-column: 1/2;
}

.img4{
    grid-row: 2/3;
    grid-column: 3/4;
}

.img5{
    grid-row: 2/3;
    grid-column: 2/3;
}

.parrafo-img{
    background-color: var(--colorText);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: black;
    opacity: 0;
}

.parrafo-img:hover{
    opacity: 0.5;
    cursor: pointer;
}
/*----------------------- FOOTER -----------------------*/
footer{
    height: 100px;
    background-color: var(--colorEnfasis3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: var(--textContent);
    color: var(--colorText);
}

